<%= form_for [consumer, counter, power] do |f| %>
	<div class="form-row">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th class="text-center">Дата: <%= f.date_field :measure_date %></th>
				<th class="text-center">Наст.</th>
				<th class="text-center">Пред.</th>
				<th class="text-center">Разность</th>
				<th class="text-center">Расход</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Активная</th>
				<td class="text-right"><%= f.number_field :active, step: 0.001, class: "text-right" %></td>
				<td class="text-right"><%= f.number_field :before_active, step: 0.001, class: "text-right" %></td>
				<td nowrap class="text-right"><%= number_with_delimiter(power.active_result, delimiter: ' ') %></td>
				<td nowrap class="text-right"><%= number_with_delimiter(power.active_result * counter.ratio, delimiter: ' ') %></td>
			</tr>
			<tr>
				<th>Реактивная</th>
				<td class="text-right"><%= f.number_field :reactive, step: 0.001, class: "text-right"  %></td>
				<td class="text-right"><%= f.number_field :before_reactive, step: 0.001, class: "text-right"  %></td>
				<td nowrap class="text-right"><%= number_with_delimiter(power.reactive_result, delimiter: ' ') %></td>
				<td nowrap class="text-right"><%= number_with_delimiter(power.reactive_result * counter.ratio, delimiter: ' ') %></td>
			</tr>
			<tr>
				<th>Генерация</th>
				<td class="text-right"><%= f.number_field :generation, step: 0.001, class: "text-right" %></td>
				<td class="text-right"><%= f.number_field :before_generation, step: 0.001, class: "text-right" %></td>
				<td nowrap class="text-right"><%= number_with_delimiter(power.generation_result, delimiter: ' ') %></td>
				<td nowrap class="text-right"><%= number_with_delimiter(power.generation_result * counter.ratio, delimiter: ' ') %></td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class="form-row">
	<%= f.button type: 'submit', class: "btn btn-outline-dark btn-block" do %>
		<i class="fas fa-share-square"></i> Передать показания
	<% end %>
	</div>
<% end %>