<h2>Регистрация</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="field form-group mb-2">
    <%= f.label :username, "Имя пользователя" %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control col-lg-3 col-md-5" %>
    <div class="invalid-feedback">Уже зарегистрировано</div>
  </div>

  <div class="field form-group mb-2">
    <%= f.label :email, "Email" %><br />
    <%= f.email_field :email, autocomplete: "email", class: "form-control col-lg-3 col-md-5" %>
    <div class="invalid-feedback">Уже зарегистрирован</div>
  </div>

  <div class="field form-group mb-2">
    <%= f.label :password, "Пароль" %>
    <% if @minimum_password_length %>
    <em>(минимум <%= @minimum_password_length %> символов)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control col-lg-3 col-md-5" %>
    <div class="invalid-feedback">Недопустимый пароль</div>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation, "Подтверждение пароля" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control col-lg-3 col-md-5" %>
    <div class="invalid-feedback">Не совпадает с паролем</div>
  </div>

  <div class="actions">
  <%= f.button type: 'submit', class: "btn btn-outline-dark" do %>
    <i class="fas fa-user-plus"></i> Зарегистрироваться
  <% end %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
