<h1>Список потребителей</h1>
<%= link_to 'Новый потребитель', new_consumer_path %><br>
<hr>
<% @consumers.each do |consumer| %>
	<%= link_to consumer.name, consumer_path(consumer) %><br>
	Идентификатор 1С: <%= consumer.onec_id %><br>
	Код ЕДРПОУ: <%= consumer.edrpou %><br>
	<%= link_to '>>> Удалить', consumer, method: :delete, data: {confirm: "Вы уверенны что хотите удалить #{consumer.name}?"} %>
	<hr>
<% end %>