<div class="row">
	<div class="col-md-3">
		<h3><%= @consumer.name %></h3>
		<p>Полное наименование: <em><%= @consumer.full_name %></em></p>
		<p>Код ЕДРПОУ: <em><%= @consumer.edrpou %></em></p>
		<p>Договор: <em>№<%= @consumer.dog_eh_num %> от <%= @consumer.dog_eh_date.strftime("%d.%m.%Y") %></em></p>
		<p>Реквизиты для оплаты:<br>
		<em><%= @payment.company %>,<br>ЕДРПОУ: <%= @payment.edrpou %>,<br>расчетный счет: <%= @payment.account %>,
		<br><%= @payment.bank %>, <br>МФО: <%= @payment.mfo %></em></p>
		<p>Идентификатор 1С: <em><%= @consumer.onec_id %></em></p>
		<%= link_to consumers_path, class: "btn btn-outline-dark btn-block mb-2" do %>
			<i class="fas fa-undo-alt"></i> Вернуться
		<% end %>
		<% if can? :delete, @consumer %> 
			<%= link_to edit_consumer_path(@consumer), class: "btn btn-outline-dark btn-block mb-2" do %>
				<i class="fas fa-edit"></i> Редактировать
			<% end %>
			<%= link_to @consumer, method: :delete, data: {confirm: "Вы уверенны что хотите удалить #{@consumer.name}?"}, class: "btn btn-outline-danger btn-block mb-2" do %>
				<i class="fas fa-times"></i> Удалить
			<% end %>
		<% end %>
	</div>
	<div class="col-md-9">
		<ul class="nav nav-tabs">
		  <li class="nav-item">
		    <a class="nav-link active" data-toggle="tab" href="#send">Передача сведений</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#consum">Потребление</a>
		  </li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane container active" id="send">
				<br>
				<h5>Договора с облэнерго</h5>
				<% unless @contracts.empty? %>
					<table class="table table-striped table-sm">
						<thead>
							<tr>
								<th>Номер</th>
								<th>Дата</th>
								<% if can? :delete, Contract %>
								<th></th>
								<% end %>
							</tr>
						</thead>
						<tbody>
							<% @contracts.each do |contract| %>
							<tr>
								<td><%= link_to contract.number, [@consumer, contract] %></td>
								<td><%= contract.date ? contract.date.strftime("%d.%m.%Y") : '' %></td>
								<% if can? :delete, Contract %>
								<td class='text-right'>
									<div class="btn-group">
									<%= link_to edit_consumer_contract_path(@consumer, contract), 
										class: "btn btn-outline-dark btn-sm" do %>
										<i class="fas fa-edit test-edit-contract"></i>
									<% end %>
									<%= link_to [@consumer, contract], method: :delete, 
										class: "btn btn-outline-danger btn-sm",
										data: {confirm: "Вы уверенны что хотите удалить Договор №#{contract.number}?"} do %>
										&nbsp<i class="fas fa-times test-delete-contract"></i>
									<% end %>
									</div>
								</td>
								<% end %>
							</tr>
							<% end %>
						</tbody>
					</table>
				<% else %>
					Не введенно ни одного договора
					<hr>
				<% end %>
				<% if can? :create, Counter %>
					<h5>Добавить договор</h5>
					<%= render '/contracts/form' %>
					<hr>
				<% end %>
			</div>
			<div class="tab-pane container fade" id="consum">
				<br>
				<h5>Плановое потребление <%= l(DateTime.now, format: '%B %Y') %> </h5>
				<% if @plan_consumption %>
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th class="text-right">Плановое потребление (КВт*ч)</th>
							<th class="text-right">Плановый тариф (грн)</th>
							<th class="text-right">Плановое потребление (грн)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-right"><%= number_with_delimiter(@plan_consumption.power, delimiter: ' ') %></td>
							<td class="text-right"><%= number_with_precision(@plan_consumption.tariff, precision: 5) %></td>
							<td class="text-right"><%= number_with_precision(@plan_consumption.money, delimiter: ' ', precision: 2) %></td>
						</tr>
					</tbody>
				</table>
				<% else %>
					Плановое потребление не введенно
				<% end %>
				<hr>
				<h5>История потребления</h5>
				<table class="table table-hover table-sm">
					<thead>
						<tr>
							<th>Период</th>
							<th></th>
							<th class="text-right">Потребление (КВт*ч)</th>
							<th class="text-right">Тариф (грн)</th>
							<th class="text-right">Потребление (грн)</th>
						</tr>
					</thead>
					<tbody>
					<% @prev_consumptions.each do |consumption| %>
						<tr class="<%= 'bg-light' if consumption.level == 1 %>">
							<td><%= l(consumption.date, format: '%b %Y') if consumption.level < 2 %></td>
							<td><%= consumption.point_name if consumption.level > 0 %></td>
							<td class="text-right"><%= number_with_delimiter(consumption.power, delimiter: ' ') %></td>
							<td class="text-right"><%= number_with_precision(consumption.tariff, precision: 5) %></td>
							<td class="text-right"><%= number_with_precision(consumption.money, delimiter: ' ', precision: 2) if consumption.level < 2 %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>