<div class="row">
	<div class="col-md-3">
		<h3><%= @consumer.name %></h3>
		<p>Полное наименование: <em><%= @consumer.full_name %></em></p>
		<p>Код ЕДРПОУ: <em><%= @consumer.edrpou %></em></p>
		<p>Договор: <em>№<%= @consumer.dog_eh_num %> от <%= @consumer.dog_eh_date.strftime("%d.%m.%Y") %></em></p>
		<p>Реквизиты для оплаты:<br><em>ООО "Энерго Х",<br>ЕДРПОУ: 38000735,<br>т/сч 2600281951118,<br>
		ПАО "Банк "Грант", МФО 351607</em></p>
		<p>Идентификатор 1С: <em><%= @consumer.onec_id %></em></p>
		<%= link_to @consumer, class: "btn btn-outline-dark btn-block mb-2" do %>
			<i class="fas fa-undo-alt"></i> Вернуться
		<% end %>
		<% if can? :delete, @consumer %> 
			<%= link_to edit_consumer_path(@consumer), class: "btn btn-outline-dark btn-block mb-2" do %>
				<i class="fas fa-edit"></i> Редактировать
			<% end %>
			<%= link_to @consumer, method: :delete, data: {confirm: "Вы уверенны что хотите удалить #{@consumer.name}?"}, class: "btn btn-outline-danger btn-block mb-2" do %>
				<i class="fas fa-times"></i> Удалить
			<% end %>
		<% end %>
	</div>
	<div class="col-md-9">
		<ul class="nav nav-tabs">
		  <li class="nav-item">
		    <a class="nav-link active" data-toggle="tab" href="#send">Передача сведений</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#consum">Архив отчетов</a>
		  </li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane container active" id="send">
				<br>
				<h5 class='text-center'><%= "Передача показаний по договору N#{@contract.number}" %></h5>
				<br>
				<% unless @counters.empty? %>
					<% @counters.each do |counter| %>
						<b><%= "Счет №#{counter.account}, cчетчик №#{counter.number}, КУ=#{counter.ratio}." %></b>
						<% if can? :delete, counter %> 
							<div class="btn-group">
							<%= link_to edit_consumer_contract_counter_path(@consumer, @contract, counter), class: "btn btn-outline-dark mb-2" do %>
								<i class="fas fa-edit"></i>Редактировать
							<% end %>
							<%= link_to [@consumer, @contract, counter], method: :delete, data: { confirm: "Вы уверены что хотите удалить счетчик №#{counter.number}?" }, class: "btn btn-outline-danger mb-2" do %>
								&nbsp &nbsp &nbsp<i class="fas fa-times"></i> Удалить &nbsp &nbsp &nbsp
							<% end %>
							</div>
						<% end %>
						<%= render '/powers/newform', consumer: @consumer, contract: @contract, counter: counter, power: @counters_power[counter.id] %>
						<hr>
					<% end %>
				<% else %>
					Не введенно ни одного счетчика.
					<hr>
				<% end %>
				<table class="table table-bordered table-sm col-sm-6">
					<thead>
						<tr>
							<th colspan="2" class='text-center'>Всего</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Активная</th>
							<td class='text-right'><%= number_with_delimiter(@all_power_active, delimiter: ' ') %></td>
						</tr>
						<tr>
							<th>Реактивная</th>
							<td class='text-right'><%= number_with_delimiter(@all_power_reactive, delimiter: ' ') %></td>
						</tr>
						<tr>
							<th>Генерация</th>
							<td class='text-right'><%= number_with_delimiter(@all_power_generation, delimiter: ' ') %></td>
						</tr>
					</tbody>
				</table>
				<%= link_to consumer_contract_path(:format => :pdf), class: "btn btn-outline-dark btn-block mb-6", target: :_blank do %>
					<i class="fas fa-print"></i> Печать отчета
				<% end %>
				<hr>
				<% if can? :create, Counter %>
					<h5>Добавить счетчик</h5>
					<%= render '/counters/form' %>
				<% end %>
				<br>
			</div>
			<div class="tab-pane container fade" id="consum">
				<br>
				<h5>Дата отчета:</h5>
				<%= form_tag(consumer_contract_path(:format => :pdf), method: "get", id: "archive-form") do %>
					<div class='input-group'>
						<%= date_field_tag :archive_data, params[:archive_data], class: "form-control" %>
						<span class='input-group-append'>
						<%= submit_tag "Найти", class: "btn btn-outline-secondary", formtarget: :_blank, data: { disable_with: false } %>
						</span>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>