<h3>Список импортированных потребителей</h3>
<table class="table table-striped table-sm">
	<thead>
		<tr>
			<th>Номер 1С</th>
			<th>Наименование</th>
			<th>Полное наименование</th>
			<th>Код ЕДРПОУ</th>
			<th>Номер договора</th>
			<th>Дата договора</th>
		</tr>
	</thead>
	<tbody>
	<% @imported.each do |imported_string| %>
		<tr>
			<td><%= imported_string[0] %></td>
			<td><%= imported_string[1] %></td>
			<td><%= imported_string[2] %></td>
			<td><%= imported_string[3] %></td>
			<td><%= imported_string[4] %></td>
			<td><%= imported_string[5] %></td>
		</tr>
	<% end %>
	</tbody>
</table>