<%= form_for [@consumer, @contract, @counter] do |f| %>
	<div class="form-row align-items-end">
			<div class="col-sm-2">
				<%= f.label :acount, "Лиц. счет:" %>
				<%= f.text_field :account, class: "form-control" %>
			</div>
			<div class="col-sm-3">
				<%= f.label :number, "Номер:" %>
				<%= f.text_field :number, class: "form-control" %>
			</div>
			<div class="col-sm-2">
				<%= f.label :ratio, "Коэф. учета:" %>
				<%= f.number_field :ratio, class: "form-control" %>
			</div>
			<div class="col-sm-2">
				<%= f.label :count_out, "Отсчет:" %>
				<%= f.check_box :count_out, class: "form-control", data: { toggle: 'toggle' } %>
			</div>
			<div class="col-sm-3">
				<%= f.button type: 'submit', class: "btn btn-outline-dark btn-block" do %>
					<i class="fas fa-save"></i> Сохранить
				<% end %>
			</div>
	</div>
<% end %>